---
import Texture from "./Texture.astro";
import SectionWrapper from "./SectionWrapper.astro";
import SectionIcon from "./SectionIcon.astro";
import Markdown from "@astrojs/markdown-component";
import Item from "./Item.astro";

const { name, title, description, items, index, background, text, cta } =
  Astro.props;
---

<SectionWrapper {...Astro.props}>
  <!-- <Texture
    className="svg-background"
    width={100}
    height={100}
    data={{}}
    options={{ index }}
  /> -->

  <div class="section-contents">
    <SectionIcon link={`#section-${index + 1}`} iconName={name} />

    <div class="section-top">
      <div class="section-header">
        <div class="section-title">{title}</div>

        {
          description && (
            <div class="section-description">
              <Markdown>{description}</Markdown>
            </div>
          )
        }
      </div>
      {
        cta && (
          <a class="section-cta" href={cta.url}>
            {cta.text}
          </a>
        )
      }
    </div>

    <div class="section-items">
      {items && items.map((item) => <Item {...item} />)}
    </div>
  </div>
</SectionWrapper>
<style lang="scss">
  @import "../stylesheets/_breakpoints.scss";

  .section-title {
    font-weight: var(--bold);
    @include small {
      font-size: var(--largefont);
    }
    @include medium {
      font-size: var(--largefont);
    }
    @include large {
      font-size: var(--extralargefont);
      line-height: 1;
      margin-bottom: var(--quarterspacing);
    }
  }

  .section-description {
    @include small {
      font-size: var(--smallfont);
    }
    @include medium {
      font-size: var(--smallfont);
    }
    @include large {
      font-size: var(--mediumfont);
    }
    p + p {
      margin-top: var(--halfspacing);
    }
  }

  .section-contents {
    position: relative;
    z-index: 10;
    background: var(--white);
    box-shadow: 8px 8px rgba(0, 0, 0, 0.15);
    border-left: 40px solid #eee;
    @include small {
      padding: var(--halfspacing);
    }
    @include medium {
      padding: var(--spacing) var(--doublespacing);
    }
    @include large {
      padding: var(--spacing) var(--doublespacing);
    }
    &.section-intro-contents {
      border: none;
      @include small {
        padding: var(--doublespacing) var(--halfspacing) var(--halfspacing)
          var(--halfspacing);
      }
      @include medium {
        padding: var(--doublespacing) var(--spacing) var(--spacing)
          var(--spacing);
      }
      @include large {
        padding: var(--doublespacing);
      }
    }
  }

  .section-items {
    @include large {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: var(--doublespacing);
    }
  }
</style>
